# Ignorer les vidéos
*.mp4
*.mkv
*.mov

# Ignorer les zip
*.zip

# Ignorer le .vscode
.vscode/

# Ignorer les fichiers obsidian
Exos projet euler.md
NSI.md

# Ignorer le pycache
Projets/Projet 2 Nombres premiers et conversions/end_folder/__pycache__/PrimLib.cpython-310.pyc
