@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');


/* || General  */

*{font-family: "Montserrat", sans-serif; font-size: 20px}

body{margin:0px}

/* colors :

Titre-caché     #111111
Gris-degradé    #181a23
Surface0	    #414559
Base	        #303446
Mantle	        #292c3c
Crust	        #232634
Blue 	        #8caaee
Jaune1          #f5c22a
Coucher-soleil  #865a7b
Bleu-footer     #3d72ec

https://github.com/catppuccin/catppuccin et perso

*/


/* || Header  */

header{
    display: grid;
    grid-template-columns: auto auto;
    min-width: 1160px;
    background-image: url("../images/header.jpg");
    background-size: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    transition: 500ms;
}
header:hover{background-position-y: 65%;}

.title, .title-right{
    color:#111111;
    font-size: 50px;
    padding: 30px 0px 40px 20px;
    text-decoration:none;
    transition: 500ms;
}

.title{text-align: left}
.title-right{text-align: right}

.title:hover, .title-right:hover{color:white;}

header a {text-decoration:none;}


/* || Partie commune */

.sources-contenu, .histoire-contenu, .osu-contenu, .infos{
    min-width: 500px;
    text-align: center;
    background-image: linear-gradient(-45deg, #181a23, #414559);
    padding:10px 10% 10px 10%
}

p, h1, h2, h3{
    color:white;
}

.yellow{color:#f5c22a} .light-blue{color:#8caaee} .dark-blue{color:#3d72ec}
.black{color:#000} .white{color:#fff}

.container{
    display:grid;
    grid-template-columns: minmax(250px,350px) auto;
    min-height: 1000px;
    min-width: 1160px;
    background-color: #303446;
}

.menu{
    background-color: #303446;
}

.menu ul{
    list-style-position: inside;
    padding-left: 20px;
    position: sticky;
    top: 20px;
}

nav li{
    margin-left: 0px;
    padding-top: 5px; padding-bottom: 5px;
    transition:250ms;
}
nav li:hover{
    margin-left: 30px;
    padding-top: 20px; padding-bottom: 20px;
}

a{text-decoration: none}
a:hover{color:#f5c22a}

.anim-underline {
    display: inline-block;
    position: relative;
  }

.anim-underline::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f5c22a;
    transform-origin: bottom right;
    transition: transform 0.45s ease;
}
.anim-underline:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* || Page principale */


h1, h2, h3{
    display:table;
    margin: 25px auto 25px auto;
    border-radius: 25px;
    background-color:#865a7b;
    transition: 250ms;
}
h1:hover, h2:hover, h3:hover{margin: 35px auto 35px auto;}
h1{
    padding: 30px;
    font-size: 60px;
}

h2{
    padding: 15px;
    font-size: 40px;
}

h3{
    padding: 15px;
    font-size: 25px; 
}

.portrait{
    width: 20%;
    border: 20px solid #865a7b;
    border-radius: 50%;
    transition:500ms
}
.portrait:hover{transform: rotate(360deg)}

#specialites, #hobbys{
    color:#fff;
    list-style-position: inside;
    padding-left: 20px
}
#specialites li::marker, #hobbys li::marker{color:#f5c22a}

#hobbys a{text-decoration: none}
#osu{color:#111}
#osu:hover{animation: rainbow 1s linear; animation-iteration-count: infinite}

@keyframes rainbow{
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}


/* || Page osu  */

.gameplay img{
    width: 50%;
}
.video iframe{
    width: 80%;
    aspect-ratio: 16/9;
    border: none;
}


/* || Page histoire  */

.histoire-contenu-paragraphe{
    line-height: 150%;
}

.container-timeline{
    display: grid;
    grid-template-columns: 10% 90%;
}

.events-container{
    color:white;
    border-left: solid white;
    text-align: left;
    padding-left: 20px;
    list-style: none;
}


.timeline-item{
    position:relative;
    padding: 20px
}

.timeline-item::before{
    position:absolute;
    width: 30px; height: 30px;
    content:"";
    top: 40%;
    left: -40px;
    border-radius: 50%;
    background-color: #3d72ec;
    border: solid #8caaee;
    transition:250ms
}

.timeline-item:hover::before{
    background-color: #ff6347;
    border: solid #f5c22a;
}

.item-titre{
    font-size: 30px;
    padding-bottom: 10px;
}

.item-date{
    padding-bottom: 10px;
}


/* || Page sources  */

.liste-sources{
    text-align: left;
    list-style: none;
    padding: 0;
}

.liste-sources li {
    background-image: linear-gradient(40deg, #373a4b, #21222e);
    margin: 10px 20px 0 25px;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    transition: all 0.3s ease;
}

.liste-sources li::before {
    content: "•";
    color: #ff6347;
    font-size: 2em;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}

.liste-sources li:hover {
    background: #ff6347;
    color: #fff;
    transform: translateX(10px);
}

.liste-sources li:hover::before {
    color: #fff;
}

.liste-sources a{
    color: #8caaee;
    text-decoration: none;
}
.liste-sources a:hover{
    color: #f5c22a;
}


/* || Footer  */

footer.page-principale{
    display: grid;
    grid-template-columns: auto auto auto;
    background-image:linear-gradient(-30deg, rgb(128, 50, 50), rgb(255, 255, 255), rgb(50, 50, 128));
    text-align: center;
    min-width: 1160px;
}

.logo-cse{
    width: 330px;
    height: 125px;
}

.nav{
    align-self: center;
    text-align: center;
}

.nav li{
    display: inline-block;
    padding: 10px;
}

.nav p {color:black}

.nav a{color:#3d72ec; transition: 250ms;}
.nav a:hover{color:#f5c22a}

footer .lien-image {
    width: min-content;
    transition: 250ms
}
footer .lien-image:hover {transform: rotate(360deg)}
footer p{
    display: inline-block;
    align-self:center
}